#wholepage{
    margin: auto;
}

#grad{
    background-color: #f4f4f4;
    background-image: linear-gradient(#ffffffc0,#494949);
    height: auto;
    width: auto;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h5{
    color: #CC1EA2;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    padding: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.card {
    box-shadow: #96949494 4px 4px;
    background: #ffdf3fe8;
    width: auto;
    height: auto;
    padding: 35px;
    margin: auto;
}

img.foto{
    box-shadow: #a18d28e8 2px 2px 10px 6px;
    width: 350px;
    min-block-size: 200px;
    height: auto;
    margin: 5%;
    border-radius: 6px;
}

div.card-panel{
    text-align: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: auto;
    background-color: #CC1EA2;
    color: #f4f4f4;
    box-shadow: #a18d28e8 2px 2px 15px 6px;
    border-radius: 6px;
    width: 250px;
    height: 250px;
}

div.buttons{
    margin: auto;
    padding: 5%;
    float: auto;
}

img.Telegram{
    width: 20px;
    margin-bottom: -3px;
}

img.Gmail{
    width: 20px;
    margin-bottom: -4px;
}

img.Github{
    width: 20px;
    margin-bottom: -3px;

}

a.waves-effect.waves-light.btn-large {
    background-color: #B22390;
    color: #f4f4f4;
    border-radius: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.dvd{
    padding: 0px;
    width:60%;
    height:300px;
    min-width: 300px;
    margin: auto;
    background-color: #58fffc62;
    box-shadow: #4c4e4e42 2px 2px 10px 10px;
}

hr{
    border: 0; 
    height: 1px; 
    margin: 40px;
    background-image: -webkit-linear-gradient(left, #f4f4f454, #8c8b8b, #f4f4f454);
    background-image: -moz-linear-gradient(left, #f4f4f454, #8c8b8b, #f4f4f454);
    background-image: -ms-linear-gradient(left, #f4f4f454, #8c8b8b, #f4f4f454);
    background-image: -o-linear-gradient(left, #f4f4f454, #8c8b8b, #f4f4f454); 
}

div.entretenimiento{
    margin: auto; 
}

img.Twitter{
    width: 350px;
    margin: auto;
    padding: 5%;
    min-width: 200px;
}

img.Youtube{
    width: 350px;
    margin: auto;
    padding: 5%;
    min-width: 200px;
}

img.Reddit{
    width: 350px;
    margin: auto;
    padding: 5%;
    min-width: 200px;
}

@keyframes body-bounce {
    from {
      top: 0.2142857143rem;
    }
    to {
      top: 0.3rem;
    }
  }
  @keyframes top-bend {
    from {
      transform: rotate(0deg);
      top: 0.2rem;
    }
    to {
      transform: rotate(20deg);
      top: 0.3rem;
    }
  }
  @keyframes bottom-bend {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-20deg);
    }
  }
  
  #bee-container {
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50%;
    margin-right: 50%;
  }
  
  #bee {
    position: relative;
  }
  #bee #body {
    height: 3rem;
    width: 5.4rem;
    background-color: gold;
    background-image: linear-gradient(to right, transparent 34%, black 34%, black 49%, transparent 49%, transparent 61%, black 61%, black 76%, transparent 76%);
    border-radius: 4.5rem;
    position: relative;
    animation: body-bounce 0.33s 0s alternate infinite;
  }
  #bee #body:before, #bee #body:after {
    content: '';
    display: block;
    position: absolute;
    top: -1.7647058824rem;
    width: 2.7272727273rem;
    height: 2.7272727273rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
  }
  #bee #body:before {
    left: 40%;
    transform: rotate(-15deg);
  }
  #bee #body:after {
    border-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    left: 20%;
  }
  #bee #body #face:before, #bee #body #face:after {
    content: '';
    display: block;
    position: absolute;
    height: 0.6rem;
    width: 0.375rem;
    background-color: black;
    border-radius: 50%;
    top: 1rem;
  }
  #bee #body #face:before {
    left: 6%;
  }
  #bee #body #face:after {
    left: 20%;
  }
  
  .leg {
    position: absolute;
    top: 100%;
  }
  .leg:before, .leg:after {
    content: '';
    display: block;
    position: absolute;
    width: 0.3rem;
    height: 1.2rem;
    background-color: black;
    border-radius: 3rem;
  }
  .leg:before {
    top: 0;
    transform-origin: top;
    animation: top-bend 0.33s 0s alternate infinite;
  }
  .leg:after {
    top: 1.2rem;
    transform-origin: bottom;
    animation: bottom-bend 0.33s 0s alternate infinite;
  }
  .leg#left {
    left: 52%;
  }
  .leg#right {
    left: 66%;
  }

@media only screen and (max-width: 800px){
    img.foto{
        box-shadow: #a18d28e8 2px 2px 10px 6px;
        width: 270px;
        height: auto;
        margin: auto;
        border-radius: 6px;
    }

    img.Twitter{
        width: 100px;
        margin: auto;
        padding: 5%;
    }
    
    img.Youtube{
        width: 100px;
        margin: auto;
        padding: 5%;
    }
    
    img.Reddit{
        width: 100px;
        margin: auto;
        padding: 5%;
    }
}

@media only screen and (min-width: 1200px){
    div.card {
        box-shadow: #96949494 4px 4px;
        background: #ffdf3fe8;
        width: auto;
        height: auto;
        padding: 35px;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
    
    img.foto{
        box-shadow: #a18d28e8 2px 2px 10px 6px;
        width: 350px;
        min-block-size: 200px;
        height: auto;
        margin: 5%;
        border-radius: 6px;
        float: auto;
    }
    
    div.card-panel{
        text-align: left;
        margin: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 10px;
        background-color: #CC1EA2;
        color: #f4f4f4;
        box-shadow: #a18d28e8 2px 2px 15px 6px;
        border-radius: 6px;
        width: 250px;
        min-width: 150px;
        height: 300px;
        min-height: 200px;
        float: auto;
    }

    div.buttons{
        margin: auto;
        padding: 5%;
        float: auto;
    }
}
#up{
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:#B22390;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50px; 
}
