#wholepage{
    margin: auto;
}

html {
  height: 100%;
  background: #0f122b;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1276px 562px #FFF , 1369px 600px #FFF , 1147px 1358px #FFF , 808px 666px #FFF , 855px 1674px #FFF , 1363px 1189px #FFF , 463px 438px #FFF , 1163px 1082px #FFF , 1253px 1502px #FFF , 1383px 514px #FFF , 844px 501px #FFF , 1880px 1843px #FFF , 1973px 895px #FFF , 935px 1321px #FFF , 1897px 1668px #FFF , 923px 498px #FFF , 359px 315px #FFF , 1102px 548px #FFF , 423px 1016px #FFF , 26px 1755px #FFF , 1265px 799px #FFF , 1374px 383px #FFF , 1133px 1543px #FFF , 350px 67px #FFF , 329px 1160px #FFF , 1478px 1459px #FFF , 408px 1465px #FFF , 167px 61px #FFF , 1972px 260px #FFF , 1973px 1637px #FFF , 657px 1299px #FFF , 400px 183px #FFF , 945px 112px #FFF , 411px 1691px #FFF , 1304px 149px #FFF , 1321px 1078px #FFF , 30px 1070px #FFF , 1606px 553px #FFF , 1463px 882px #FFF , 433px 759px #FFF , 507px 1305px #FFF , 781px 1564px #FFF , 231px 31px #FFF , 657px 1354px #FFF , 777px 1055px #FFF , 1530px 27px #FFF , 89px 170px #FFF , 216px 1178px #FFF , 405px 943px #FFF , 794px 1861px #FFF , 1963px 474px #FFF , 1809px 1959px #FFF , 427px 1655px #FFF , 296px 1047px #FFF , 1707px 1600px #FFF , 1525px 59px #FFF , 1467px 1747px #FFF , 1565px 1256px #FFF , 1185px 714px #FFF , 4px 1116px #FFF , 1603px 1965px #FFF , 742px 708px #FFF , 1490px 722px #FFF , 277px 711px #FFF , 1882px 1550px #FFF , 1005px 1218px #FFF , 317px 1840px #FFF , 1151px 699px #FFF , 1220px 1546px #FFF , 193px 1395px #FFF , 1648px 450px #FFF , 1367px 1544px #FFF , 1573px 1436px #FFF , 452px 1551px #FFF , 11px 714px #FFF , 1792px 1874px #FFF , 982px 1199px #FFF , 1445px 354px #FFF , 626px 726px #FFF , 1547px 1314px #FFF , 1061px 363px #FFF , 148px 1072px #FFF , 421px 1378px #FFF , 289px 1435px #FFF , 913px 100px #FFF , 603px 493px #FFF , 111px 312px #FFF , 1369px 915px #FFF , 1600px 1098px #FFF , 1621px 1179px #FFF , 1457px 210px #FFF , 1337px 1012px #FFF , 1311px 876px #FFF , 1791px 1152px #FFF , 60px 1468px #FFF , 1132px 1042px #FFF , 829px 1575px #FFF , 1101px 588px #FFF , 753px 346px #FFF , 1368px 58px #FFF , 368px 1379px #FFF , 1853px 1046px #FFF , 119px 1428px #FFF , 1769px 1856px #FFF , 1585px 964px #FFF , 194px 702px #FFF , 15px 626px #FFF , 789px 315px #FFF , 877px 285px #FFF , 136px 1593px #FFF , 1247px 1043px #FFF , 207px 545px #FFF , 429px 1006px #FFF , 1470px 677px #FFF , 987px 1141px #FFF , 1413px 1473px #FFF , 347px 338px #FFF , 1021px 911px #FFF , 1319px 1934px #FFF , 1029px 264px #FFF , 1164px 445px #FFF , 191px 270px #FFF , 832px 1792px #FFF , 1125px 1742px #FFF , 208px 1624px #FFF , 634px 1132px #FFF , 1312px 1914px #FFF , 1570px 1385px #FFF , 1325px 119px #FFF , 368px 1944px #FFF , 1040px 625px #FFF , 9px 296px #FFF , 1091px 1984px #FFF , 994px 1154px #FFF , 288px 1074px #FFF , 1759px 1612px #FFF , 1161px 336px #FFF , 1100px 1642px #FFF , 1915px 373px #FFF , 1113px 1509px #FFF , 1168px 1100px #FFF , 1244px 1557px #FFF , 1374px 357px #FFF , 433px 129px #FFF , 1594px 94px #FFF , 572px 619px #FFF , 846px 994px #FFF , 899px 95px #FFF , 1425px 423px #FFF , 1198px 1124px #FFF , 155px 343px #FFF , 706px 1763px #FFF , 847px 754px #FFF , 1819px 1313px #FFF , 358px 558px #FFF , 1254px 1605px #FFF , 210px 1183px #FFF , 430px 518px #FFF , 1136px 471px #FFF , 340px 113px #FFF , 525px 539px #FFF , 753px 1904px #FFF , 1079px 774px #FFF , 348px 1018px #FFF , 1400px 382px #FFF , 1305px 130px #FFF , 1826px 1318px #FFF , 258px 1570px #FFF , 1850px 930px #FFF , 288px 1195px #FFF , 786px 101px #FFF , 746px 901px #FFF , 923px 853px #FFF , 385px 1169px #FFF , 229px 45px #FFF , 1806px 926px #FFF , 1022px 1774px #FFF , 1287px 1007px #FFF , 291px 180px #FFF , 1481px 1617px #FFF , 1807px 1894px #FFF , 1060px 86px #FFF , 761px 1410px #FFF , 829px 619px #FFF , 1201px 1836px #FFF , 1828px 1462px #FFF , 766px 10px #FFF , 463px 492px #FFF , 1393px 8px #FFF , 428px 945px #FFF , 1150px 1398px #FFF , 662px 874px #FFF , 1063px 97px #FFF , 1579px 1054px #FFF , 1289px 1080px #FFF , 215px 1695px #FFF , 24px 1261px #FFF , 1528px 165px #FFF , 953px 311px #FFF , 1634px 409px #FFF , 1517px 1117px #FFF , 4px 233px #FFF , 62px 405px #FFF , 365px 867px #FFF , 1490px 842px #FFF , 401px 97px #FFF , 1360px 1170px #FFF , 423px 1214px #FFF , 1064px 401px #FFF , 676px 1661px #FFF , 779px 99px #FFF , 201px 1851px #FFF , 490px 392px #FFF , 1644px 1992px #FFF , 750px 629px #FFF , 605px 1208px #FFF , 1997px 1245px #FFF , 1166px 354px #FFF , 1145px 451px #FFF , 1866px 1778px #FFF , 755px 126px #FFF , 1299px 252px #FFF , 215px 557px #FFF , 967px 1295px #FFF , 1603px 1793px #FFF , 212px 1440px #FFF , 1093px 1724px #FFF , 438px 1788px #FFF , 849px 125px #FFF , 1348px 47px #FFF , 408px 1031px #FFF , 1461px 1131px #FFF , 1975px 574px #FFF , 1334px 1429px #FFF , 1190px 1664px #FFF , 1748px 1493px #FFF , 1256px 858px #FFF , 1585px 1015px #FFF , 403px 250px #FFF , 1780px 575px #FFF , 1263px 183px #FFF , 697px 560px #FFF , 1750px 1144px #FFF , 874px 1993px #FFF , 471px 373px #FFF , 282px 423px #FFF , 580px 787px #FFF , 19px 1333px #FFF , 526px 810px #FFF , 1626px 512px #FFF , 1499px 1396px #FFF , 1308px 216px #FFF , 1512px 1802px #FFF , 8px 83px #FFF , 1990px 212px #FFF , 355px 506px #FFF , 1569px 43px #FFF , 1744px 1891px #FFF , 185px 837px #FFF , 848px 1491px #FFF , 256px 1898px #FFF , 894px 439px #FFF , 1689px 549px #FFF , 1327px 1521px #FFF , 498px 308px #FFF , 1728px 779px #FFF , 1165px 1669px #FFF , 199px 316px #FFF , 754px 419px #FFF , 59px 1448px #FFF , 888px 1653px #FFF , 1667px 1127px #FFF , 1921px 339px #FFF , 622px 490px #FFF , 1451px 912px #FFF , 363px 1432px #FFF , 1455px 883px #FFF , 1024px 1538px #FFF , 1628px 1091px #FFF , 702px 623px #FFF , 1646px 1068px #FFF , 271px 1219px #FFF , 58px 1912px #FFF , 1109px 256px #FFF , 1622px 1814px #FFF , 903px 471px #FFF , 471px 833px #FFF , 1327px 1586px #FFF , 1665px 1384px #FFF , 1950px 536px #FFF , 1928px 1938px #FFF , 1195px 214px #FFF , 288px 1899px #FFF , 1009px 468px #FFF , 489px 1888px #FFF , 1521px 720px #FFF , 1687px 493px #FFF , 1660px 61px #FFF , 260px 1841px #FFF , 1142px 669px #FFF , 1651px 1185px #FFF , 902px 1600px #FFF , 494px 263px #FFF , 235px 700px #FFF , 17px 612px #FFF , 1637px 1727px #FFF , 702px 1913px #FFF , 818px 1471px #FFF , 326px 489px #FFF , 1711px 1720px #FFF , 410px 1543px #FFF , 1144px 519px #FFF , 1909px 1234px #FFF , 598px 1579px #FFF , 1568px 623px #FFF , 1107px 1981px #FFF , 1467px 1090px #FFF , 1934px 1815px #FFF , 1657px 841px #FFF , 1042px 718px #FFF , 1533px 1825px #FFF , 1605px 1832px #FFF , 1243px 1195px #FFF , 409px 1167px #FFF , 1568px 50px #FFF , 771px 1121px #FFF , 133px 1170px #FFF , 98px 866px #FFF , 1366px 1582px #FFF , 1482px 690px #FFF , 1879px 280px #FFF , 623px 1361px #FFF , 696px 559px #FFF , 1199px 1648px #FFF , 793px 1973px #FFF , 555px 254px #FFF , 1793px 1392px #FFF , 1417px 938px #FFF , 1714px 1665px #FFF , 1153px 33px #FFF , 1414px 876px #FFF , 955px 482px #FFF , 447px 1324px #FFF , 802px 334px #FFF , 1608px 1907px #FFF , 1991px 330px #FFF , 977px 58px #FFF , 572px 1722px #FFF , 117px 63px #FFF , 1698px 344px #FFF , 1415px 288px #FFF , 619px 671px #FFF , 732px 882px #FFF , 394px 688px #FFF , 916px 1341px #FFF , 1188px 1585px #FFF , 292px 1026px #FFF , 307px 1078px #FFF , 1183px 1723px #FFF , 674px 1847px #FFF , 350px 798px #FFF , 1287px 363px #FFF , 976px 783px #FFF , 1066px 298px #FFF , 612px 134px #FFF , 1735px 251px #FFF , 371px 512px #FFF , 1821px 185px #FFF , 838px 1796px #FFF , 1788px 742px #FFF , 787px 1940px #FFF , 794px 301px #FFF , 217px 545px #FFF , 838px 552px #FFF , 839px 1294px #FFF , 1403px 275px #FFF , 1433px 864px #FFF , 624px 1628px #FFF , 743px 778px #FFF , 7px 342px #FFF , 822px 1891px #FFF , 259px 1160px #FFF , 1014px 1712px #FFF , 1964px 1454px #FFF , 1505px 34px #FFF , 1131px 1153px #FFF , 328px 835px #FFF , 948px 729px #FFF , 1736px 353px #FFF , 861px 1197px #FFF , 301px 1892px #FFF , 1679px 1381px #FFF , 249px 770px #FFF , 312px 12px #FFF , 1411px 540px #FFF , 78px 1206px #FFF , 1617px 237px #FFF , 1579px 1464px #FFF , 460px 74px #FFF , 1020px 1934px #FFF , 574px 987px #FFF , 1890px 1536px #FFF , 1978px 479px #FFF , 120px 160px #FFF , 669px 1383px #FFF , 1502px 1569px #FFF , 1217px 1708px #FFF , 1938px 1845px #FFF , 1411px 1290px #FFF , 656px 85px #FFF , 978px 11px #FFF , 828px 1179px #FFF , 1256px 5px #FFF , 1328px 1683px #FFF , 1571px 1101px #FFF , 410px 647px #FFF , 522px 1639px #FFF , 944px 100px #FFF , 1384px 715px #FFF , 1043px 1978px #FFF , 1985px 671px #FFF , 239px 1932px #FFF , 1020px 434px #FFF , 1159px 1698px #FFF , 113px 606px #FFF , 1752px 1005px #FFF , 1006px 1301px #FFF , 1544px 1464px #FFF , 1857px 1339px #FFF , 1814px 710px #FFF , 1303px 557px #FFF , 788px 1012px #FFF , 573px 1859px #FFF , 1362px 203px #FFF , 944px 308px #FFF , 1438px 1390px #FFF , 1248px 484px #FFF , 386px 1938px #FFF , 1056px 95px #FFF , 642px 1003px #FFF , 1673px 1974px #FFF , 1874px 1548px #FFF , 1399px 1733px #FFF , 354px 1605px #FFF , 1026px 1226px #FFF , 394px 640px #FFF , 1093px 1868px #FFF , 150px 278px #FFF , 1359px 1775px #FFF , 71px 649px #FFF , 1949px 894px #FFF , 749px 1146px #FFF , 472px 693px #FFF , 1409px 692px #FFF , 449px 1239px #FFF , 1586px 125px #FFF , 573px 1066px #FFF , 1583px 1766px #FFF , 743px 1769px #FFF , 75px 1776px #FFF , 1196px 810px #FFF , 918px 1697px #FFF , 1792px 1617px #FFF , 123px 612px #FFF , 1029px 175px #FFF , 545px 783px #FFF , 1225px 1290px #FFF , 599px 1130px #FFF , 481px 1632px #FFF , 973px 1710px #FFF , 570px 585px #FFF , 1233px 67px #FFF , 116px 1579px #FFF , 800px 1304px #FFF , 1801px 1119px #FFF , 461px 761px #FFF , 1024px 220px #FFF , 255px 121px #FFF , 652px 1647px #FFF , 1833px 1620px #FFF , 499px 1612px #FFF , 999px 169px #FFF , 1462px 470px #FFF , 18px 1442px #FFF , 1483px 315px #FFF , 1585px 1085px #FFF , 1813px 771px #FFF , 46px 1607px #FFF , 1164px 368px #FFF , 1159px 1868px #FFF , 4px 1440px #FFF , 1582px 170px #FFF , 1559px 1187px #FFF , 1598px 904px #FFF , 826px 321px #FFF , 1365px 278px #FFF , 528px 793px #FFF , 1939px 1360px #FFF , 140px 1818px #FFF , 1859px 1459px #FFF , 264px 104px #FFF , 116px 927px #FFF , 1911px 697px #FFF , 643px 167px #FFF , 1149px 1079px #FFF , 1163px 119px #FFF , 703px 1894px #FFF , 1914px 1995px #FFF , 1453px 368px #FFF , 384px 575px #FFF , 542px 1531px #FFF , 1440px 538px #FFF , 257px 1031px #FFF , 915px 339px #FFF , 678px 196px #FFF , 978px 430px #FFF , 109px 1197px #FFF , 164px 1831px #FFF , 842px 1230px #FFF , 558px 1129px #FFF , 1000px 720px #FFF , 1126px 1251px #FFF , 458px 1386px #FFF , 485px 638px #FFF , 1693px 883px #FFF , 1156px 754px #FFF , 807px 1246px #FFF , 466px 1104px #FFF , 1031px 499px #FFF , 1137px 1981px #FFF , 1517px 1442px #FFF , 1222px 1864px #FFF , 1615px 1320px #FFF , 607px 351px #FFF , 1596px 735px #FFF , 211px 37px #FFF , 726px 62px #FFF , 1677px 1091px #FFF , 1063px 1334px #FFF , 783px 1784px #FFF , 1821px 762px #FFF , 1364px 1742px #FFF , 795px 249px #FFF , 1616px 1280px #FFF , 123px 1775px #FFF , 286px 1472px #FFF , 401px 249px #FFF , 1218px 1647px #FFF , 240px 311px #FFF , 461px 1896px #FFF , 1513px 478px #FFF , 45px 1959px #FFF , 363px 1794px #FFF , 1528px 494px #FFF , 1531px 1009px #FFF , 351px 1644px #FFF , 404px 1445px #FFF , 703px 1601px #FFF , 740px 1502px #FFF , 234px 447px #FFF , 1796px 1045px #FFF , 1019px 1632px #FFF , 135px 1951px #FFF , 802px 592px #FFF , 439px 1862px #FFF , 878px 16px #FFF , 1594px 1402px #FFF , 767px 1689px #FFF , 1734px 994px #FFF , 984px 42px #FFF , 76px 873px #FFF , 1771px 1657px #FFF , 1432px 1054px #FFF , 471px 986px #FFF , 528px 801px #FFF , 949px 871px #FFF , 160px 45px #FFF , 1175px 252px #FFF , 12px 1812px #FFF , 1191px 145px #FFF , 90px 393px #FFF , 1796px 5px #FFF , 1700px 211px #FFF , 226px 1262px #FFF , 1397px 474px #FFF , 1860px 1947px #FFF , 1345px 1494px #FFF , 1463px 401px #FFF , 594px 1846px #FFF , 1395px 110px #FFF , 1541px 1520px #FFF , 221px 1397px #FFF , 483px 1795px #FFF , 1996px 1949px #FFF , 1875px 1812px #FFF , 1278px 1539px #FFF , 1407px 539px #FFF , 3px 831px #FFF , 1424px 1559px #FFF , 909px 1786px #FFF , 228px 1922px #FFF , 50px 951px #FFF , 1842px 1783px #FFF , 1162px 1781px #FFF , 1450px 656px #FFF , 416px 171px #FFF , 1295px 645px #FFF , 1612px 1159px #FFF , 386px 1679px #FFF , 655px 391px #FFF , 1551px 1327px #FFF , 413px 854px #FFF , 764px 1065px #FFF , 750px 1141px #FFF , 151px 491px #FFF , 1954px 1980px #FFF , 1713px 916px #FFF , 505px 334px #FFF , 1631px 468px #FFF , 878px 430px #FFF , 865px 554px #FFF , 1784px 1664px #FFF , 58px 545px #FFF , 1401px 1951px #FFF , 1760px 381px #FFF , 496px 741px #FFF , 931px 1805px #FFF , 1687px 1794px #FFF , 906px 1557px #FFF , 224px 1567px #FFF , 1933px 781px #FFF , 1710px 1117px #FFF , 1113px 1944px #FFF , 507px 1827px #FFF , 960px 1433px #FFF , 372px 802px #FFF , 372px 974px #FFF , 1320px 1973px #FFF , 984px 364px #FFF , 1220px 1433px #FFF , 9px 1868px #FFF , 862px 1540px #FFF , 698px 757px #FFF , 698px 978px #FFF , 678px 815px #FFF , 433px 357px #FFF , 1782px 1210px #FFF , 1580px 401px #FFF , 69px 729px #FFF , 1963px 489px #FFF , 694px 1878px #FFF , 394px 1107px #FFF , 537px 104px #FFF , 777px 1289px #FFF , 1997px 1013px #FFF , 466px 290px #FFF , 1970px 1030px #FFF , 384px 1019px #FFF , 298px 456px #FFF , 1178px 336px #FFF , 204px 1888px #FFF , 480px 693px #FFF , 94px 1500px #FFF , 1964px 304px #FFF , 477px 1447px #FFF , 473px 1628px #FFF , 1159px 1968px #FFF , 422px 1333px #FFF , 1223px 1333px #FFF , 1941px 774px #FFF , 1190px 376px #FFF , 1103px 1471px #FFF , 1881px 849px #FFF , 1966px 1408px #FFF , 1187px 1243px #FFF , 1787px 574px #FFF , 887px 1676px #FFF , 49px 1846px #FFF , 229px 216px #FFF , 1509px 679px #FFF , 1938px 730px #FFF , 1911px 1619px #FFF , 1061px 1581px #FFF , 643px 1947px #FFF , 824px 1309px #FFF , 2px 1579px #FFF , 1827px 642px #FFF , 483px 1623px #FFF , 1654px 76px #FFF , 61px 1247px #FFF , 712px 1503px #FFF , 883px 1340px #FFF , 919px 1337px #FFF , 830px 1607px #FFF , 1160px 434px #FFF , 744px 1057px #FFF , 748px 924px #FFF , 1821px 1414px #FFF , 708px 702px #FFF , 1657px 1787px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1276px 562px #FFF , 1369px 600px #FFF , 1147px 1358px #FFF , 808px 666px #FFF , 855px 1674px #FFF , 1363px 1189px #FFF , 463px 438px #FFF , 1163px 1082px #FFF , 1253px 1502px #FFF , 1383px 514px #FFF , 844px 501px #FFF , 1880px 1843px #FFF , 1973px 895px #FFF , 935px 1321px #FFF , 1897px 1668px #FFF , 923px 498px #FFF , 359px 315px #FFF , 1102px 548px #FFF , 423px 1016px #FFF , 26px 1755px #FFF , 1265px 799px #FFF , 1374px 383px #FFF , 1133px 1543px #FFF , 350px 67px #FFF , 329px 1160px #FFF , 1478px 1459px #FFF , 408px 1465px #FFF , 167px 61px #FFF , 1972px 260px #FFF , 1973px 1637px #FFF , 657px 1299px #FFF , 400px 183px #FFF , 945px 112px #FFF , 411px 1691px #FFF , 1304px 149px #FFF , 1321px 1078px #FFF , 30px 1070px #FFF , 1606px 553px #FFF , 1463px 882px #FFF , 433px 759px #FFF , 507px 1305px #FFF , 781px 1564px #FFF , 231px 31px #FFF , 657px 1354px #FFF , 777px 1055px #FFF , 1530px 27px #FFF , 89px 170px #FFF , 216px 1178px #FFF , 405px 943px #FFF , 794px 1861px #FFF , 1963px 474px #FFF , 1809px 1959px #FFF , 427px 1655px #FFF , 296px 1047px #FFF , 1707px 1600px #FFF , 1525px 59px #FFF , 1467px 1747px #FFF , 1565px 1256px #FFF , 1185px 714px #FFF , 4px 1116px #FFF , 1603px 1965px #FFF , 742px 708px #FFF , 1490px 722px #FFF , 277px 711px #FFF , 1882px 1550px #FFF , 1005px 1218px #FFF , 317px 1840px #FFF , 1151px 699px #FFF , 1220px 1546px #FFF , 193px 1395px #FFF , 1648px 450px #FFF , 1367px 1544px #FFF , 1573px 1436px #FFF , 452px 1551px #FFF , 11px 714px #FFF , 1792px 1874px #FFF , 982px 1199px #FFF , 1445px 354px #FFF , 626px 726px #FFF , 1547px 1314px #FFF , 1061px 363px #FFF , 148px 1072px #FFF , 421px 1378px #FFF , 289px 1435px #FFF , 913px 100px #FFF , 603px 493px #FFF , 111px 312px #FFF , 1369px 915px #FFF , 1600px 1098px #FFF , 1621px 1179px #FFF , 1457px 210px #FFF , 1337px 1012px #FFF , 1311px 876px #FFF , 1791px 1152px #FFF , 60px 1468px #FFF , 1132px 1042px #FFF , 829px 1575px #FFF , 1101px 588px #FFF , 753px 346px #FFF , 1368px 58px #FFF , 368px 1379px #FFF , 1853px 1046px #FFF , 119px 1428px #FFF , 1769px 1856px #FFF , 1585px 964px #FFF , 194px 702px #FFF , 15px 626px #FFF , 789px 315px #FFF , 877px 285px #FFF , 136px 1593px #FFF , 1247px 1043px #FFF , 207px 545px #FFF , 429px 1006px #FFF , 1470px 677px #FFF , 987px 1141px #FFF , 1413px 1473px #FFF , 347px 338px #FFF , 1021px 911px #FFF , 1319px 1934px #FFF , 1029px 264px #FFF , 1164px 445px #FFF , 191px 270px #FFF , 832px 1792px #FFF , 1125px 1742px #FFF , 208px 1624px #FFF , 634px 1132px #FFF , 1312px 1914px #FFF , 1570px 1385px #FFF , 1325px 119px #FFF , 368px 1944px #FFF , 1040px 625px #FFF , 9px 296px #FFF , 1091px 1984px #FFF , 994px 1154px #FFF , 288px 1074px #FFF , 1759px 1612px #FFF , 1161px 336px #FFF , 1100px 1642px #FFF , 1915px 373px #FFF , 1113px 1509px #FFF , 1168px 1100px #FFF , 1244px 1557px #FFF , 1374px 357px #FFF , 433px 129px #FFF , 1594px 94px #FFF , 572px 619px #FFF , 846px 994px #FFF , 899px 95px #FFF , 1425px 423px #FFF , 1198px 1124px #FFF , 155px 343px #FFF , 706px 1763px #FFF , 847px 754px #FFF , 1819px 1313px #FFF , 358px 558px #FFF , 1254px 1605px #FFF , 210px 1183px #FFF , 430px 518px #FFF , 1136px 471px #FFF , 340px 113px #FFF , 525px 539px #FFF , 753px 1904px #FFF , 1079px 774px #FFF , 348px 1018px #FFF , 1400px 382px #FFF , 1305px 130px #FFF , 1826px 1318px #FFF , 258px 1570px #FFF , 1850px 930px #FFF , 288px 1195px #FFF , 786px 101px #FFF , 746px 901px #FFF , 923px 853px #FFF , 385px 1169px #FFF , 229px 45px #FFF , 1806px 926px #FFF , 1022px 1774px #FFF , 1287px 1007px #FFF , 291px 180px #FFF , 1481px 1617px #FFF , 1807px 1894px #FFF , 1060px 86px #FFF , 761px 1410px #FFF , 829px 619px #FFF , 1201px 1836px #FFF , 1828px 1462px #FFF , 766px 10px #FFF , 463px 492px #FFF , 1393px 8px #FFF , 428px 945px #FFF , 1150px 1398px #FFF , 662px 874px #FFF , 1063px 97px #FFF , 1579px 1054px #FFF , 1289px 1080px #FFF , 215px 1695px #FFF , 24px 1261px #FFF , 1528px 165px #FFF , 953px 311px #FFF , 1634px 409px #FFF , 1517px 1117px #FFF , 4px 233px #FFF , 62px 405px #FFF , 365px 867px #FFF , 1490px 842px #FFF , 401px 97px #FFF , 1360px 1170px #FFF , 423px 1214px #FFF , 1064px 401px #FFF , 676px 1661px #FFF , 779px 99px #FFF , 201px 1851px #FFF , 490px 392px #FFF , 1644px 1992px #FFF , 750px 629px #FFF , 605px 1208px #FFF , 1997px 1245px #FFF , 1166px 354px #FFF , 1145px 451px #FFF , 1866px 1778px #FFF , 755px 126px #FFF , 1299px 252px #FFF , 215px 557px #FFF , 967px 1295px #FFF , 1603px 1793px #FFF , 212px 1440px #FFF , 1093px 1724px #FFF , 438px 1788px #FFF , 849px 125px #FFF , 1348px 47px #FFF , 408px 1031px #FFF , 1461px 1131px #FFF , 1975px 574px #FFF , 1334px 1429px #FFF , 1190px 1664px #FFF , 1748px 1493px #FFF , 1256px 858px #FFF , 1585px 1015px #FFF , 403px 250px #FFF , 1780px 575px #FFF , 1263px 183px #FFF , 697px 560px #FFF , 1750px 1144px #FFF , 874px 1993px #FFF , 471px 373px #FFF , 282px 423px #FFF , 580px 787px #FFF , 19px 1333px #FFF , 526px 810px #FFF , 1626px 512px #FFF , 1499px 1396px #FFF , 1308px 216px #FFF , 1512px 1802px #FFF , 8px 83px #FFF , 1990px 212px #FFF , 355px 506px #FFF , 1569px 43px #FFF , 1744px 1891px #FFF , 185px 837px #FFF , 848px 1491px #FFF , 256px 1898px #FFF , 894px 439px #FFF , 1689px 549px #FFF , 1327px 1521px #FFF , 498px 308px #FFF , 1728px 779px #FFF , 1165px 1669px #FFF , 199px 316px #FFF , 754px 419px #FFF , 59px 1448px #FFF , 888px 1653px #FFF , 1667px 1127px #FFF , 1921px 339px #FFF , 622px 490px #FFF , 1451px 912px #FFF , 363px 1432px #FFF , 1455px 883px #FFF , 1024px 1538px #FFF , 1628px 1091px #FFF , 702px 623px #FFF , 1646px 1068px #FFF , 271px 1219px #FFF , 58px 1912px #FFF , 1109px 256px #FFF , 1622px 1814px #FFF , 903px 471px #FFF , 471px 833px #FFF , 1327px 1586px #FFF , 1665px 1384px #FFF , 1950px 536px #FFF , 1928px 1938px #FFF , 1195px 214px #FFF , 288px 1899px #FFF , 1009px 468px #FFF , 489px 1888px #FFF , 1521px 720px #FFF , 1687px 493px #FFF , 1660px 61px #FFF , 260px 1841px #FFF , 1142px 669px #FFF , 1651px 1185px #FFF , 902px 1600px #FFF , 494px 263px #FFF , 235px 700px #FFF , 17px 612px #FFF , 1637px 1727px #FFF , 702px 1913px #FFF , 818px 1471px #FFF , 326px 489px #FFF , 1711px 1720px #FFF , 410px 1543px #FFF , 1144px 519px #FFF , 1909px 1234px #FFF , 598px 1579px #FFF , 1568px 623px #FFF , 1107px 1981px #FFF , 1467px 1090px #FFF , 1934px 1815px #FFF , 1657px 841px #FFF , 1042px 718px #FFF , 1533px 1825px #FFF , 1605px 1832px #FFF , 1243px 1195px #FFF , 409px 1167px #FFF , 1568px 50px #FFF , 771px 1121px #FFF , 133px 1170px #FFF , 98px 866px #FFF , 1366px 1582px #FFF , 1482px 690px #FFF , 1879px 280px #FFF , 623px 1361px #FFF , 696px 559px #FFF , 1199px 1648px #FFF , 793px 1973px #FFF , 555px 254px #FFF , 1793px 1392px #FFF , 1417px 938px #FFF , 1714px 1665px #FFF , 1153px 33px #FFF , 1414px 876px #FFF , 955px 482px #FFF , 447px 1324px #FFF , 802px 334px #FFF , 1608px 1907px #FFF , 1991px 330px #FFF , 977px 58px #FFF , 572px 1722px #FFF , 117px 63px #FFF , 1698px 344px #FFF , 1415px 288px #FFF , 619px 671px #FFF , 732px 882px #FFF , 394px 688px #FFF , 916px 1341px #FFF , 1188px 1585px #FFF , 292px 1026px #FFF , 307px 1078px #FFF , 1183px 1723px #FFF , 674px 1847px #FFF , 350px 798px #FFF , 1287px 363px #FFF , 976px 783px #FFF , 1066px 298px #FFF , 612px 134px #FFF , 1735px 251px #FFF , 371px 512px #FFF , 1821px 185px #FFF , 838px 1796px #FFF , 1788px 742px #FFF , 787px 1940px #FFF , 794px 301px #FFF , 217px 545px #FFF , 838px 552px #FFF , 839px 1294px #FFF , 1403px 275px #FFF , 1433px 864px #FFF , 624px 1628px #FFF , 743px 778px #FFF , 7px 342px #FFF , 822px 1891px #FFF , 259px 1160px #FFF , 1014px 1712px #FFF , 1964px 1454px #FFF , 1505px 34px #FFF , 1131px 1153px #FFF , 328px 835px #FFF , 948px 729px #FFF , 1736px 353px #FFF , 861px 1197px #FFF , 301px 1892px #FFF , 1679px 1381px #FFF , 249px 770px #FFF , 312px 12px #FFF , 1411px 540px #FFF , 78px 1206px #FFF , 1617px 237px #FFF , 1579px 1464px #FFF , 460px 74px #FFF , 1020px 1934px #FFF , 574px 987px #FFF , 1890px 1536px #FFF , 1978px 479px #FFF , 120px 160px #FFF , 669px 1383px #FFF , 1502px 1569px #FFF , 1217px 1708px #FFF , 1938px 1845px #FFF , 1411px 1290px #FFF , 656px 85px #FFF , 978px 11px #FFF , 828px 1179px #FFF , 1256px 5px #FFF , 1328px 1683px #FFF , 1571px 1101px #FFF , 410px 647px #FFF , 522px 1639px #FFF , 944px 100px #FFF , 1384px 715px #FFF , 1043px 1978px #FFF , 1985px 671px #FFF , 239px 1932px #FFF , 1020px 434px #FFF , 1159px 1698px #FFF , 113px 606px #FFF , 1752px 1005px #FFF , 1006px 1301px #FFF , 1544px 1464px #FFF , 1857px 1339px #FFF , 1814px 710px #FFF , 1303px 557px #FFF , 788px 1012px #FFF , 573px 1859px #FFF , 1362px 203px #FFF , 944px 308px #FFF , 1438px 1390px #FFF , 1248px 484px #FFF , 386px 1938px #FFF , 1056px 95px #FFF , 642px 1003px #FFF , 1673px 1974px #FFF , 1874px 1548px #FFF , 1399px 1733px #FFF , 354px 1605px #FFF , 1026px 1226px #FFF , 394px 640px #FFF , 1093px 1868px #FFF , 150px 278px #FFF , 1359px 1775px #FFF , 71px 649px #FFF , 1949px 894px #FFF , 749px 1146px #FFF , 472px 693px #FFF , 1409px 692px #FFF , 449px 1239px #FFF , 1586px 125px #FFF , 573px 1066px #FFF , 1583px 1766px #FFF , 743px 1769px #FFF , 75px 1776px #FFF , 1196px 810px #FFF , 918px 1697px #FFF , 1792px 1617px #FFF , 123px 612px #FFF , 1029px 175px #FFF , 545px 783px #FFF , 1225px 1290px #FFF , 599px 1130px #FFF , 481px 1632px #FFF , 973px 1710px #FFF , 570px 585px #FFF , 1233px 67px #FFF , 116px 1579px #FFF , 800px 1304px #FFF , 1801px 1119px #FFF , 461px 761px #FFF , 1024px 220px #FFF , 255px 121px #FFF , 652px 1647px #FFF , 1833px 1620px #FFF , 499px 1612px #FFF , 999px 169px #FFF , 1462px 470px #FFF , 18px 1442px #FFF , 1483px 315px #FFF , 1585px 1085px #FFF , 1813px 771px #FFF , 46px 1607px #FFF , 1164px 368px #FFF , 1159px 1868px #FFF , 4px 1440px #FFF , 1582px 170px #FFF , 1559px 1187px #FFF , 1598px 904px #FFF , 826px 321px #FFF , 1365px 278px #FFF , 528px 793px #FFF , 1939px 1360px #FFF , 140px 1818px #FFF , 1859px 1459px #FFF , 264px 104px #FFF , 116px 927px #FFF , 1911px 697px #FFF , 643px 167px #FFF , 1149px 1079px #FFF , 1163px 119px #FFF , 703px 1894px #FFF , 1914px 1995px #FFF , 1453px 368px #FFF , 384px 575px #FFF , 542px 1531px #FFF , 1440px 538px #FFF , 257px 1031px #FFF , 915px 339px #FFF , 678px 196px #FFF , 978px 430px #FFF , 109px 1197px #FFF , 164px 1831px #FFF , 842px 1230px #FFF , 558px 1129px #FFF , 1000px 720px #FFF , 1126px 1251px #FFF , 458px 1386px #FFF , 485px 638px #FFF , 1693px 883px #FFF , 1156px 754px #FFF , 807px 1246px #FFF , 466px 1104px #FFF , 1031px 499px #FFF , 1137px 1981px #FFF , 1517px 1442px #FFF , 1222px 1864px #FFF , 1615px 1320px #FFF , 607px 351px #FFF , 1596px 735px #FFF , 211px 37px #FFF , 726px 62px #FFF , 1677px 1091px #FFF , 1063px 1334px #FFF , 783px 1784px #FFF , 1821px 762px #FFF , 1364px 1742px #FFF , 795px 249px #FFF , 1616px 1280px #FFF , 123px 1775px #FFF , 286px 1472px #FFF , 401px 249px #FFF , 1218px 1647px #FFF , 240px 311px #FFF , 461px 1896px #FFF , 1513px 478px #FFF , 45px 1959px #FFF , 363px 1794px #FFF , 1528px 494px #FFF , 1531px 1009px #FFF , 351px 1644px #FFF , 404px 1445px #FFF , 703px 1601px #FFF , 740px 1502px #FFF , 234px 447px #FFF , 1796px 1045px #FFF , 1019px 1632px #FFF , 135px 1951px #FFF , 802px 592px #FFF , 439px 1862px #FFF , 878px 16px #FFF , 1594px 1402px #FFF , 767px 1689px #FFF , 1734px 994px #FFF , 984px 42px #FFF , 76px 873px #FFF , 1771px 1657px #FFF , 1432px 1054px #FFF , 471px 986px #FFF , 528px 801px #FFF , 949px 871px #FFF , 160px 45px #FFF , 1175px 252px #FFF , 12px 1812px #FFF , 1191px 145px #FFF , 90px 393px #FFF , 1796px 5px #FFF , 1700px 211px #FFF , 226px 1262px #FFF , 1397px 474px #FFF , 1860px 1947px #FFF , 1345px 1494px #FFF , 1463px 401px #FFF , 594px 1846px #FFF , 1395px 110px #FFF , 1541px 1520px #FFF , 221px 1397px #FFF , 483px 1795px #FFF , 1996px 1949px #FFF , 1875px 1812px #FFF , 1278px 1539px #FFF , 1407px 539px #FFF , 3px 831px #FFF , 1424px 1559px #FFF , 909px 1786px #FFF , 228px 1922px #FFF , 50px 951px #FFF , 1842px 1783px #FFF , 1162px 1781px #FFF , 1450px 656px #FFF , 416px 171px #FFF , 1295px 645px #FFF , 1612px 1159px #FFF , 386px 1679px #FFF , 655px 391px #FFF , 1551px 1327px #FFF , 413px 854px #FFF , 764px 1065px #FFF , 750px 1141px #FFF , 151px 491px #FFF , 1954px 1980px #FFF , 1713px 916px #FFF , 505px 334px #FFF , 1631px 468px #FFF , 878px 430px #FFF , 865px 554px #FFF , 1784px 1664px #FFF , 58px 545px #FFF , 1401px 1951px #FFF , 1760px 381px #FFF , 496px 741px #FFF , 931px 1805px #FFF , 1687px 1794px #FFF , 906px 1557px #FFF , 224px 1567px #FFF , 1933px 781px #FFF , 1710px 1117px #FFF , 1113px 1944px #FFF , 507px 1827px #FFF , 960px 1433px #FFF , 372px 802px #FFF , 372px 974px #FFF , 1320px 1973px #FFF , 984px 364px #FFF , 1220px 1433px #FFF , 9px 1868px #FFF , 862px 1540px #FFF , 698px 757px #FFF , 698px 978px #FFF , 678px 815px #FFF , 433px 357px #FFF , 1782px 1210px #FFF , 1580px 401px #FFF , 69px 729px #FFF , 1963px 489px #FFF , 694px 1878px #FFF , 394px 1107px #FFF , 537px 104px #FFF , 777px 1289px #FFF , 1997px 1013px #FFF , 466px 290px #FFF , 1970px 1030px #FFF , 384px 1019px #FFF , 298px 456px #FFF , 1178px 336px #FFF , 204px 1888px #FFF , 480px 693px #FFF , 94px 1500px #FFF , 1964px 304px #FFF , 477px 1447px #FFF , 473px 1628px #FFF , 1159px 1968px #FFF , 422px 1333px #FFF , 1223px 1333px #FFF , 1941px 774px #FFF , 1190px 376px #FFF , 1103px 1471px #FFF , 1881px 849px #FFF , 1966px 1408px #FFF , 1187px 1243px #FFF , 1787px 574px #FFF , 887px 1676px #FFF , 49px 1846px #FFF , 229px 216px #FFF , 1509px 679px #FFF , 1938px 730px #FFF , 1911px 1619px #FFF , 1061px 1581px #FFF , 643px 1947px #FFF , 824px 1309px #FFF , 2px 1579px #FFF , 1827px 642px #FFF , 483px 1623px #FFF , 1654px 76px #FFF , 61px 1247px #FFF , 712px 1503px #FFF , 883px 1340px #FFF , 919px 1337px #FFF , 830px 1607px #FFF , 1160px 434px #FFF , 744px 1057px #FFF , 748px 924px #FFF , 1821px 1414px #FFF , 708px 702px #FFF , 1657px 1787px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1942px 1327px #FFF , 932px 1572px #FFF , 397px 93px #FFF , 206px 826px #FFF , 1053px 339px #FFF , 1346px 1836px #FFF , 450px 751px #FFF , 1480px 1202px #FFF , 1041px 866px #FFF , 551px 562px #FFF , 956px 1051px #FFF , 1870px 865px #FFF , 1977px 98px #FFF , 324px 389px #FFF , 139px 922px #FFF , 266px 1959px #FFF , 109px 1354px #FFF , 313px 92px #FFF , 1789px 1310px #FFF , 1664px 774px #FFF , 1533px 1883px #FFF , 1653px 1729px #FFF , 1939px 1424px #FFF , 234px 674px #FFF , 1919px 40px #FFF , 1252px 1530px #FFF , 1928px 144px #FFF , 1734px 514px #FFF , 596px 376px #FFF , 884px 1769px #FFF , 1789px 684px #FFF , 788px 441px #FFF , 417px 169px #FFF , 1973px 351px #FFF , 712px 167px #FFF , 982px 1061px #FFF , 579px 1967px #FFF , 1087px 914px #FFF , 1795px 149px #FFF , 544px 160px #FFF , 1889px 244px #FFF , 362px 898px #FFF , 220px 1790px #FFF , 981px 647px #FFF , 296px 1637px #FFF , 652px 872px #FFF , 73px 1855px #FFF , 688px 1874px #FFF , 1344px 437px #FFF , 615px 1989px #FFF , 1760px 18px #FFF , 898px 499px #FFF , 1422px 1911px #FFF , 1957px 1307px #FFF , 251px 741px #FFF , 1379px 913px #FFF , 1765px 651px #FFF , 945px 519px #FFF , 244px 1786px #FFF , 1388px 1837px #FFF , 968px 528px #FFF , 259px 1100px #FFF , 452px 1960px #FFF , 889px 1250px #FFF , 1465px 631px #FFF , 1071px 962px #FFF , 75px 709px #FFF , 1031px 1427px #FFF , 601px 437px #FFF , 89px 1803px #FFF , 1368px 948px #FFF , 86px 1424px #FFF , 1428px 1476px #FFF , 406px 338px #FFF , 989px 739px #FFF , 805px 317px #FFF , 294px 119px #FFF , 1931px 1830px #FFF , 118px 1637px #FFF , 1843px 500px #FFF , 62px 1988px #FFF , 1417px 377px #FFF , 693px 351px #FFF , 1529px 833px #FFF , 1080px 246px #FFF , 1445px 1300px #FFF , 982px 1952px #FFF , 907px 1608px #FFF , 1252px 697px #FFF , 1947px 517px #FFF , 171px 280px #FFF , 1221px 164px #FFF , 521px 1322px #FFF , 337px 1536px #FFF , 1612px 417px #FFF , 1447px 1026px #FFF , 286px 1866px #FFF , 841px 1030px #FFF , 1429px 1885px #FFF , 366px 553px #FFF , 1026px 1686px #FFF , 763px 976px #FFF , 157px 237px #FFF , 1324px 1027px #FFF , 621px 459px #FFF , 1136px 264px #FFF , 1001px 1350px #FFF , 1053px 1505px #FFF , 1023px 806px #FFF , 1997px 1533px #FFF , 356px 253px #FFF , 275px 462px #FFF , 522px 438px #FFF , 1436px 1294px #FFF , 593px 1712px #FFF , 1480px 1030px #FFF , 892px 177px #FFF , 1066px 468px #FFF , 864px 958px #FFF , 1512px 208px #FFF , 1655px 1711px #FFF , 158px 177px #FFF , 404px 642px #FFF , 1172px 293px #FFF , 1346px 891px #FFF , 296px 1811px #FFF , 730px 783px #FFF , 1317px 1718px #FFF , 1199px 1316px #FFF , 1989px 1980px #FFF , 1819px 1357px #FFF , 1059px 1375px #FFF , 1681px 1442px #FFF , 1968px 891px #FFF , 1547px 1750px #FFF , 1276px 1740px #FFF , 296px 1388px #FFF , 915px 719px #FFF , 5px 1400px #FFF , 155px 1591px #FFF , 785px 244px #FFF , 1310px 784px #FFF , 878px 543px #FFF , 1674px 1263px #FFF , 1728px 345px #FFF , 206px 338px #FFF , 981px 162px #FFF , 1676px 736px #FFF , 1516px 1018px #FFF , 1873px 1754px #FFF , 1557px 215px #FFF , 55px 267px #FFF , 576px 1164px #FFF , 10px 1372px #FFF , 1941px 1799px #FFF , 1643px 1572px #FFF , 1877px 966px #FFF , 1184px 310px #FFF , 1097px 985px #FFF , 1238px 29px #FFF , 1537px 434px #FFF , 1076px 1698px #FFF , 1070px 635px #FFF , 1870px 367px #FFF , 309px 43px #FFF , 1865px 1278px #FFF , 1883px 816px #FFF , 1535px 1870px #FFF , 1777px 1938px #FFF , 540px 115px #FFF , 1510px 537px #FFF , 148px 776px #FFF , 63px 1627px #FFF , 1040px 346px #FFF , 1671px 1956px #FFF , 610px 153px #FFF , 444px 453px #FFF , 1992px 1119px #FFF , 229px 1995px #FFF , 567px 348px #FFF , 1494px 334px #FFF , 551px 1774px #FFF , 790px 1733px #FFF , 823px 104px #FFF , 345px 432px #FFF , 474px 1518px #FFF , 425px 580px #FFF , 1973px 713px #FFF , 1195px 1120px #FFF , 391px 952px #FFF , 945px 1929px #FFF , 275px 969px #FFF , 532px 1402px #FFF , 1073px 388px #FFF , 516px 1570px #FFF , 1541px 1341px #FFF , 662px 1906px #FFF , 1239px 1566px #FFF , 393px 1131px #FFF , 810px 1840px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1942px 1327px #FFF , 932px 1572px #FFF , 397px 93px #FFF , 206px 826px #FFF , 1053px 339px #FFF , 1346px 1836px #FFF , 450px 751px #FFF , 1480px 1202px #FFF , 1041px 866px #FFF , 551px 562px #FFF , 956px 1051px #FFF , 1870px 865px #FFF , 1977px 98px #FFF , 324px 389px #FFF , 139px 922px #FFF , 266px 1959px #FFF , 109px 1354px #FFF , 313px 92px #FFF , 1789px 1310px #FFF , 1664px 774px #FFF , 1533px 1883px #FFF , 1653px 1729px #FFF , 1939px 1424px #FFF , 234px 674px #FFF , 1919px 40px #FFF , 1252px 1530px #FFF , 1928px 144px #FFF , 1734px 514px #FFF , 596px 376px #FFF , 884px 1769px #FFF , 1789px 684px #FFF , 788px 441px #FFF , 417px 169px #FFF , 1973px 351px #FFF , 712px 167px #FFF , 982px 1061px #FFF , 579px 1967px #FFF , 1087px 914px #FFF , 1795px 149px #FFF , 544px 160px #FFF , 1889px 244px #FFF , 362px 898px #FFF , 220px 1790px #FFF , 981px 647px #FFF , 296px 1637px #FFF , 652px 872px #FFF , 73px 1855px #FFF , 688px 1874px #FFF , 1344px 437px #FFF , 615px 1989px #FFF , 1760px 18px #FFF , 898px 499px #FFF , 1422px 1911px #FFF , 1957px 1307px #FFF , 251px 741px #FFF , 1379px 913px #FFF , 1765px 651px #FFF , 945px 519px #FFF , 244px 1786px #FFF , 1388px 1837px #FFF , 968px 528px #FFF , 259px 1100px #FFF , 452px 1960px #FFF , 889px 1250px #FFF , 1465px 631px #FFF , 1071px 962px #FFF , 75px 709px #FFF , 1031px 1427px #FFF , 601px 437px #FFF , 89px 1803px #FFF , 1368px 948px #FFF , 86px 1424px #FFF , 1428px 1476px #FFF , 406px 338px #FFF , 989px 739px #FFF , 805px 317px #FFF , 294px 119px #FFF , 1931px 1830px #FFF , 118px 1637px #FFF , 1843px 500px #FFF , 62px 1988px #FFF , 1417px 377px #FFF , 693px 351px #FFF , 1529px 833px #FFF , 1080px 246px #FFF , 1445px 1300px #FFF , 982px 1952px #FFF , 907px 1608px #FFF , 1252px 697px #FFF , 1947px 517px #FFF , 171px 280px #FFF , 1221px 164px #FFF , 521px 1322px #FFF , 337px 1536px #FFF , 1612px 417px #FFF , 1447px 1026px #FFF , 286px 1866px #FFF , 841px 1030px #FFF , 1429px 1885px #FFF , 366px 553px #FFF , 1026px 1686px #FFF , 763px 976px #FFF , 157px 237px #FFF , 1324px 1027px #FFF , 621px 459px #FFF , 1136px 264px #FFF , 1001px 1350px #FFF , 1053px 1505px #FFF , 1023px 806px #FFF , 1997px 1533px #FFF , 356px 253px #FFF , 275px 462px #FFF , 522px 438px #FFF , 1436px 1294px #FFF , 593px 1712px #FFF , 1480px 1030px #FFF , 892px 177px #FFF , 1066px 468px #FFF , 864px 958px #FFF , 1512px 208px #FFF , 1655px 1711px #FFF , 158px 177px #FFF , 404px 642px #FFF , 1172px 293px #FFF , 1346px 891px #FFF , 296px 1811px #FFF , 730px 783px #FFF , 1317px 1718px #FFF , 1199px 1316px #FFF , 1989px 1980px #FFF , 1819px 1357px #FFF , 1059px 1375px #FFF , 1681px 1442px #FFF , 1968px 891px #FFF , 1547px 1750px #FFF , 1276px 1740px #FFF , 296px 1388px #FFF , 915px 719px #FFF , 5px 1400px #FFF , 155px 1591px #FFF , 785px 244px #FFF , 1310px 784px #FFF , 878px 543px #FFF , 1674px 1263px #FFF , 1728px 345px #FFF , 206px 338px #FFF , 981px 162px #FFF , 1676px 736px #FFF , 1516px 1018px #FFF , 1873px 1754px #FFF , 1557px 215px #FFF , 55px 267px #FFF , 576px 1164px #FFF , 10px 1372px #FFF , 1941px 1799px #FFF , 1643px 1572px #FFF , 1877px 966px #FFF , 1184px 310px #FFF , 1097px 985px #FFF , 1238px 29px #FFF , 1537px 434px #FFF , 1076px 1698px #FFF , 1070px 635px #FFF , 1870px 367px #FFF , 309px 43px #FFF , 1865px 1278px #FFF , 1883px 816px #FFF , 1535px 1870px #FFF , 1777px 1938px #FFF , 540px 115px #FFF , 1510px 537px #FFF , 148px 776px #FFF , 63px 1627px #FFF , 1040px 346px #FFF , 1671px 1956px #FFF , 610px 153px #FFF , 444px 453px #FFF , 1992px 1119px #FFF , 229px 1995px #FFF , 567px 348px #FFF , 1494px 334px #FFF , 551px 1774px #FFF , 790px 1733px #FFF , 823px 104px #FFF , 345px 432px #FFF , 474px 1518px #FFF , 425px 580px #FFF , 1973px 713px #FFF , 1195px 1120px #FFF , 391px 952px #FFF , 945px 1929px #FFF , 275px 969px #FFF , 532px 1402px #FFF , 1073px 388px #FFF , 516px 1570px #FFF , 1541px 1341px #FFF , 662px 1906px #FFF , 1239px 1566px #FFF , 393px 1131px #FFF , 810px 1840px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1729px 1082px #FFF , 943px 1708px #FFF , 531px 1310px #FFF , 1141px 1827px #FFF , 614px 1941px #FFF , 335px 1707px #FFF , 1743px 1738px #FFF , 1549px 327px #FFF , 1521px 908px #FFF , 867px 798px #FFF , 1249px 1153px #FFF , 1243px 559px #FFF , 1586px 1410px #FFF , 636px 1533px #FFF , 1193px 825px #FFF , 867px 1422px #FFF , 1808px 820px #FFF , 1988px 1048px #FFF , 892px 1581px #FFF , 1910px 755px #FFF , 470px 145px #FFF , 1268px 959px #FFF , 1405px 1754px #FFF , 1282px 864px #FFF , 1031px 503px #FFF , 1458px 1504px #FFF , 364px 1759px #FFF , 1020px 1886px #FFF , 156px 813px #FFF , 1220px 533px #FFF , 1804px 206px #FFF , 368px 1124px #FFF , 876px 526px #FFF , 534px 1784px #FFF , 645px 67px #FFF , 915px 1751px #FFF , 1788px 50px #FFF , 1244px 1104px #FFF , 1463px 847px #FFF , 794px 123px #FFF , 1201px 185px #FFF , 156px 1395px #FFF , 137px 252px #FFF , 1747px 909px #FFF , 1943px 1833px #FFF , 1207px 1620px #FFF , 888px 1823px #FFF , 591px 1882px #FFF , 1880px 774px #FFF , 774px 154px #FFF , 630px 506px #FFF , 55px 510px #FFF , 1826px 1692px #FFF , 1287px 1445px #FFF , 484px 1442px #FFF , 1658px 194px #FFF , 752px 91px #FFF , 30px 619px #FFF , 1490px 1626px #FFF , 1365px 1290px #FFF , 133px 1027px #FFF , 20px 753px #FFF , 1894px 708px #FFF , 1924px 1258px #FFF , 1469px 556px #FFF , 220px 1276px #FFF , 1247px 272px #FFF , 876px 733px #FFF , 1176px 1190px #FFF , 52px 1168px #FFF , 450px 175px #FFF , 1100px 1436px #FFF , 1030px 1584px #FFF , 1444px 185px #FFF , 494px 1789px #FFF , 368px 1636px #FFF , 1473px 1340px #FFF , 747px 1853px #FFF , 1340px 19px #FFF , 1935px 1514px #FFF , 1883px 1284px #FFF , 1553px 443px #FFF , 1162px 130px #FFF , 501px 139px #FFF , 723px 1905px #FFF , 1368px 761px #FFF , 1467px 1275px #FFF , 702px 1754px #FFF , 173px 725px #FFF , 758px 476px #FFF , 892px 257px #FFF , 74px 1880px #FFF , 734px 1076px #FFF , 506px 706px #FFF , 278px 1852px #FFF , 1361px 1387px #FFF , 1320px 533px #FFF , 1063px 1349px #FFF , 408px 1099px #FFF , 855px 156px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1729px 1082px #FFF , 943px 1708px #FFF , 531px 1310px #FFF , 1141px 1827px #FFF , 614px 1941px #FFF , 335px 1707px #FFF , 1743px 1738px #FFF , 1549px 327px #FFF , 1521px 908px #FFF , 867px 798px #FFF , 1249px 1153px #FFF , 1243px 559px #FFF , 1586px 1410px #FFF , 636px 1533px #FFF , 1193px 825px #FFF , 867px 1422px #FFF , 1808px 820px #FFF , 1988px 1048px #FFF , 892px 1581px #FFF , 1910px 755px #FFF , 470px 145px #FFF , 1268px 959px #FFF , 1405px 1754px #FFF , 1282px 864px #FFF , 1031px 503px #FFF , 1458px 1504px #FFF , 364px 1759px #FFF , 1020px 1886px #FFF , 156px 813px #FFF , 1220px 533px #FFF , 1804px 206px #FFF , 368px 1124px #FFF , 876px 526px #FFF , 534px 1784px #FFF , 645px 67px #FFF , 915px 1751px #FFF , 1788px 50px #FFF , 1244px 1104px #FFF , 1463px 847px #FFF , 794px 123px #FFF , 1201px 185px #FFF , 156px 1395px #FFF , 137px 252px #FFF , 1747px 909px #FFF , 1943px 1833px #FFF , 1207px 1620px #FFF , 888px 1823px #FFF , 591px 1882px #FFF , 1880px 774px #FFF , 774px 154px #FFF , 630px 506px #FFF , 55px 510px #FFF , 1826px 1692px #FFF , 1287px 1445px #FFF , 484px 1442px #FFF , 1658px 194px #FFF , 752px 91px #FFF , 30px 619px #FFF , 1490px 1626px #FFF , 1365px 1290px #FFF , 133px 1027px #FFF , 20px 753px #FFF , 1894px 708px #FFF , 1924px 1258px #FFF , 1469px 556px #FFF , 220px 1276px #FFF , 1247px 272px #FFF , 876px 733px #FFF , 1176px 1190px #FFF , 52px 1168px #FFF , 450px 175px #FFF , 1100px 1436px #FFF , 1030px 1584px #FFF , 1444px 185px #FFF , 494px 1789px #FFF , 368px 1636px #FFF , 1473px 1340px #FFF , 747px 1853px #FFF , 1340px 19px #FFF , 1935px 1514px #FFF , 1883px 1284px #FFF , 1553px 443px #FFF , 1162px 130px #FFF , 501px 139px #FFF , 723px 1905px #FFF , 1368px 761px #FFF , 1467px 1275px #FFF , 702px 1754px #FFF , 173px 725px #FFF , 758px 476px #FFF , 892px 257px #FFF , 74px 1880px #FFF , 734px 1076px #FFF , 506px 706px #FFF , 278px 1852px #FFF , 1361px 1387px #FFF , 1320px 533px #FFF , 1063px 1349px #FFF , 408px 1099px #FFF , 855px 156px #FFF;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFF;
}

h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFF;
}
h5{
    color: #CC1EA2;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    padding: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.card {
    box-shadow: #060711 2px 2px 10px 6px;
    background: #ffdf3f;
    width: auto;
    height: auto;
    padding: 30px;
    margin: auto;
}

img.foto{
    box-shadow: #a18d28e8 2px 2px 10px 6px;
    width: 350px;
    min-block-size: 200px;
    height: auto;
    margin: 5%;
    border-radius: 6px;
}

div.card-panel{
    text-align: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: auto;
    background-color: #CC1EA2;
    color: #f4f4f4;
    box-shadow: #a18d28e8 2px 2px 15px 6px;
    border-radius: 6px;
    width: 250px;
    height: 250px;
}

div.buttons{
    margin: auto;
    padding: 5%;
    float: auto;
}

img.Telegram{
    width: 20px;
    margin-bottom: -3px;
}

img.Gmail{
    width: 20px;
    margin-bottom: -4px;
}

img.Github{
    width: 20px;
    margin-bottom: -3px;

}

a.waves-effect.waves-light.btn-large {
    background-color: #B22390;
    color: #f4f4f4;
    border-radius: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.dvd{
    padding: 0px;
    width:60%;
    height:300px;
    min-width: 300px;
    margin: auto;
    background-color: #B22390;
    box-shadow: #4c4e4e42 2px 2px 10px 10px;
}

hr{
    border: 0; 
    height: 1px; 
    margin: 40px;
    background-image: -webkit-linear-gradient(left, #f4f4f454, #8c8b8b, #f4f4f454);
    background-image: -moz-linear-gradient(left, #f4f4f454, #8c8b8b, #f4f4f454);
    background-image: -ms-linear-gradient(left, #f4f4f454, #8c8b8b, #f4f4f454);
    background-image: -o-linear-gradient(left, #f4f4f454, #8c8b8b, #f4f4f454); 
}

div.entretenimiento{
    margin: auto; 
}

img.Twitter{
    width: 350px;
    margin: auto;
    padding: 5%;
    min-width: 200px;
}

img.Youtube{
    width: 350px;
    margin: auto;
    padding: 5%;
    min-width: 200px;
}

img.Reddit{
    width: 350px;
    margin: auto;
    padding: 5%;
    min-width: 200px;
}

@keyframes body-bounce {
    from {
      top: 0.2142857143rem;
    }
    to {
      top: 0.3rem;
    }
  }
  @keyframes top-bend {
    from {
      transform: rotate(0deg);
      top: 0.2rem;
    }
    to {
      transform: rotate(20deg);
      top: 0.3rem;
    }
  }
  @keyframes bottom-bend {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-20deg);
    }
  }
  
  #bee-container {
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50%;
    margin-right: 50%;
  }
  
  #bee {
    position: relative;
  }
  #bee #body {
    height: 3rem;
    width: 5.4rem;
    background-color: gold;
    background-image: linear-gradient(to right, transparent 34%, black 34%, black 49%, transparent 49%, transparent 61%, black 61%, black 76%, transparent 76%);
    border-radius: 4.5rem;
    position: relative;
    animation: body-bounce 0.33s 0s alternate infinite;
  }
  #bee #body:before, #bee #body:after {
    content: '';
    display: block;
    position: absolute;
    top: -1.7647058824rem;
    width: 2.7272727273rem;
    height: 2.7272727273rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
  }
  #bee #body:before {
    left: 40%;
    transform: rotate(-15deg);
  }
  #bee #body:after {
    border-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    left: 20%;
  }
  #bee #body #face:before, #bee #body #face:after {
    content: '';
    display: block;
    position: absolute;
    height: 0.6rem;
    width: 0.375rem;
    background-color: black;
    border-radius: 50%;
    top: 1rem;
  }
  #bee #body #face:before {
    left: 6%;
  }
  #bee #body #face:after {
    left: 20%;
  }
  
  .leg {
    position: absolute;
    top: 100%;
  }
  .leg:before, .leg:after {
    content: '';
    display: block;
    position: absolute;
    width: 0.3rem;
    height: 1.2rem;
    background-color: black;
    border-radius: 3rem;
  }
  .leg:before {
    top: 0;
    transform-origin: top;
    animation: top-bend 0.33s 0s alternate infinite;
  }
  .leg:after {
    top: 1.2rem;
    transform-origin: bottom;
    animation: bottom-bend 0.33s 0s alternate infinite;
  }
  .leg#left {
    left: 52%;
  }
  .leg#right {
    left: 66%;
  }

@media only screen and (max-width: 800px){
    img.foto{
        box-shadow: #a18d28e8 2px 2px 10px 6px;
        width: 270px;
        height: auto;
        margin: auto;
        border-radius: 6px;
    }

    img.Twitter{
        width: 100px;
        margin: auto;
        padding: 5%;
    }
    
    img.Youtube{
        width: 100px;
        margin: auto;
        padding: 5%;
    }
    
    img.Reddit{
        width: 100px;
        margin: auto;
        padding: 5%;
    }
}

@media only screen and (min-width: 1200px){
    div.card {
      box-shadow: #060711 2px 2px 10px 6px;
      background: #ffdf3f;
        width: auto;
        height: auto;
        padding: 35px;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
    
    img.foto{
        box-shadow: #a18d28e8 2px 2px 10px 6px;
        width: 350px;
        min-block-size: 200px;
        height: auto;
        margin: 5%;
        border-radius: 6px;
        float: auto;
    }
    
    div.card-panel{
        text-align: left;
        margin: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 10px;
        background-color: #CC1EA2;
        color: #f4f4f4;
        box-shadow: #a18d28e8 2px 2px 15px 6px;
        border-radius: 6px;
        width: 250px;
        min-width: 150px;
        height: 300px;
        min-height: 200px;
        float: auto;
    }

    div.buttons{
        margin: auto;
        padding: 5%;
        float: auto;
    }
}
#up{
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:#B22390;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50px; 
}
